html {
  font-size: 26.66667vw;
}
body {
  font-size: .14rem;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
#header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #006699;
  display: flex;
}
#header .left {
  width: .45rem;
  height: .45rem;
  text-align: center;
  line-height: .45rem;
}
#header .left a {
  color: #fff;
}
#header .center {
  flex: 1;
  text-align: center;
}
#header .center form {
  padding-top: .05rem;
}
#header .center form input {
  padding-left: .1rem;
  margin-bottom: 0;
  height: .35rem;
  text-align: left;
  color: #000;
  font-size: .14rem;
}
#header .center h4 {
  line-height: .45rem;
  color: #fff;
}
#header .right {
  width: .45rem;
  height: .45rem;
  line-height: .45rem;
  text-align: center;
}
#header .right i {
  color: #fff;
}
#header .right a {
  color: #fff;
}
#main {
  height: 100vh;
  padding: .45rem 0;
}
#main .topsearch {
  padding: .1rem;
}
#main .topsearch .formmenu {
  display: flex;
}
#main .topsearch .formmenu input {
  flex: 1;
  height: .36rem;
  font-size: .14rem;
  color: #ccc;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: .1rem;
  border-bottom-left-radius: .1rem;
  margin-bottom: 0;
}
#main .topsearch .formmenu button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: .1rem;
  border-top-right-radius: .1rem;
  width: .6rem;
  height: .36rem;
  background-color: #006699;
}
#footer {
  position: fixed;
  bottom: 0;
  z-index: 99;
  background: #006699;
  width: 100%;
}
#footer a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: .45rem;
  color: #fff;
}
#footer span {
  line-height: 1;
}
#main .mui-scroll-wrapper {
  position: relative;
  height: 100%;
}
#main #detailproduct li::after {
  left: 0;
}
#main #detailproduct .toptitle strong {
  color: black;
}
#main #detailproduct .pricesall {
  color: #8f8f94;
}
#main #detailproduct .pricesall .newprice {
  font-weight: 800;
  color: red;
}
#main #detailproduct .pricesall .oldprice {
  color: #666;
}
#main #detailproduct .allsize {
  line-height: .42rem;
}
#main #detailproduct .allsize button {
  margin-top: .05rem;
}
#footer {
  background-color: #ccc;
}
#footer .left a {
  color: black;
  font-size: .18rem;
}
#footer .center {
  padding: .05rem;
}
#footer .center button {
  width: 100%;
  height: 100%;
}
#footer .right {
  padding: .05rem;
}
#footer .right button {
  width: 100%;
  height: 100%;
}
